 <ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input type="text" formControlName="fullName"></ion-input>
      
    </ion-item>

    <ion-item lines="none" *ngIf="myForm.controls['fullName']?.errors?.['required'] || myForm.controls['fullName']?.errors?.['minlength'] || myForm.controls['fullName']?.errors?.['pattern']">
      <ion-text class="error">
        <p *ngIf="myForm.controls['fullName']?.errors?.['required']">Introduce un nombre para continuar</p>
        <p *ngIf="myForm.controls['fullName']?.errors?.['minlength']">Introduce al menos 3 caracteres</p>
        <p *ngIf="myForm.controls['fullName']?.errors?.['pattern']">Revisa si se ha introducido correctamente el nombre</p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="myForm.controls['email']?.errors?.['required'] || myForm.controls['email']?.errors?.['email'] || myForm.controls['email']?.errors?.['pattern']">
      <ion-text class="error">
        <p *ngIf="myForm.controls['email']?.errors?.['required']">Introduce un correo electrónico para continuar</p>
        <p *ngIf="myForm.controls['email']?.errors?.['email']">Introduce un correo electrónico válido</p>
        <p *ngIf="myForm.controls['email']?.errors?.['pattern']">Revisa si se ha introducido correctamente el e-mail</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      
    </ion-item>

    <ion-item lines="none" *ngIf="myForm.controls['password']?.errors?.['required'] || myForm.controls['password']?.errors?.['minlength'] || myForm.controls['password']?.errors?.['pattern']">
      <ion-text class="error">
        <p *ngIf="myForm.controls['password']?.errors?.['required']">Introduce una contraseña para continuar</p>
        <p *ngIf="myForm.controls['password']?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</p>
        <p *ngIf="myForm.controls['password']?.errors?.['pattern']">La contraseña no cumple con todos los requisitos. Es necesario al menos una letra miniscula, mayuscula y un número. No puede incluir caracteres especiales.</p>
      </ion-text>
    </ion-item>
      <ion-button type="submit" [disabled]="!myForm.valid" expand="block" style="color: white">
        Registrate!
      </ion-button>
  </form>
</ion-content>
